body{
  margin: 0;
  padding: 0;
}
/**********header section***********/
header{
  background-image: url(img/header.png);
  background-size: cover;
}
header .navbar .navbar-brand{
  font-size: 34px;
  font-weight: bold;
  color: #000;
}
header .navbar .navbar-brand span{
  font-size: 38px;
  font-weight: bold;
  color: #ff5353;
}
header .navbar .navbar-toggler {
  height: 40px;
  width: 50px;
  position: relative;
  outline: none;
  border: none;
}
header .navbar .navbar-toggler .navigation-icon {
  height: 2px;
  width: 24px;
  border-radius: 5px;
  background: #000;
  display: flex;
  transition:all .5s ease-in-out;
}
header .navbar .navbar-toggler .navigation-icon::after,
header .navbar .navbar-toggler .navigation-icon::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 24px;
  border-radius: 5px;
  background: #000;
  transition:all .5s ease-in-out;
}
header .navbar .navbar-toggler .navigation-icon:before{
  transform: translateY(-8px);
}
header .navbar .navbar-toggler .navigation-icon:after{
  transform: translateY(8px);
}
/* animation */
header .navbar .navbar-toggler.open .navigation-icon{
  background: transparent;
  transform: translateX(-45px);
}
header .navbar .navbar-toggler.open .navigation-icon::before {
  transform:rotate(45deg) translate(30px,-30px);
}
header .navbar .navbar-toggler.open .navigation-icon::after {
  transform:rotate(-45deg) translate(30px,30px);
}
  /* nav items */
header .navbar .nav-item .nav-link{
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-left: 15px;
  position: relative;
  z-index: 1;
}
header .navbar .nav-item .nav-link:hover{
  color: #fff;
}
header .navbar .nav-item .nav-link:before{
  content: '';
  height: 100%;
  width: 100%;
  background: #ff5353;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
}
header .navbar .nav-item .nav-link:hover:before{
  transform: scaleX(1);
  transform-origin: left;
  transition:transform .5s;
}
header .navbar .nav-item .nav-link.first{
  margin-left: 0;
}
header .icons i{
  font-size: 18px;
  color: #2f2f2f;
  margin-top: 30px;
}
header .icon-p {
  position: relative;
}
header .badge.badge-danger.badge-pill {
  position: absolute;
  top: 18px;
  left: 75%;
}
   /* home */
.home-background{
  background-image: url(img/home-1.jpg);
  background-size: cover;
  width: 100%;
  text-align: center;
}
.home-background .home-bg{
  padding-top: 100px;
}
.home-background p{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #565656;
}
.home-background h1{
  font-size: 50px;
  color: #000;
  font-weight: 600;
}
.home-background .btn{
  font-size: 14px;
  font-weight: 600;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
}
  /* feature,popular,journal,follow,trending */
#featured h2,
#popular h2,
#trending h2,
#follow h2,
#journal h2{
  font-size: 32px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
#featured .feature-pic,
#popular .popular-pic,
#trending .trending-pic{
  background-position: center;
  background-size: cover;
  height: 320px;
  position: relative;
}
#featured .feature-pic .icons,
#trending .trending-pic .icons{
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  opacity: 0;
}
#featured .feature-pic:hover .icons .fas,
#popular .popular-pic:hover .icons .fas,
#trending .trending-pic:hover .icons .fas{
  transform: translateX(0);
}
#featured .feature-pic:hover .icons,
#trending .trending-pic:hover .icons{
  opacity: 1;
}
#featured .feature-pic .icons i,
#popular .popular-pic .icons i,
#trending .trending-pic .icons i{
  font-size: 16px;
  padding: 15px;
  border-radius: 50%;
  transition: .3s;
  box-shadow:-3px 4px 20px -5px #888;
}
#featured .feature-pic .icons a:nth-child(1) i,
#trending .trending-pic .icons a:nth-child(1) i{
  background-color: #fff;
  color: #666;
  transform: translateX(-20px);
}
#featured .feature-pic .icons a:nth-child(2) i,
#trending .trending-pic .icons a:nth-child(2) i{
  background-color: #ff5353;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  transform: translateY(-20px);
}
#featured .feature-pic .icons a:nth-child(3) i,
#trending .trending-pic .icons a:nth-child(3) i{
  background-color: #fff;
  color: #666;
  transform: translateX(20px);
}
#featured .feature-info i,
#popular .popular-info i,
#trending .trending-info i{
  font-size: 13px;
  color: #ff5353;
}
#featured .feature-info h5,
#popular .popular-info h5,
#trending .trending-info h5{
  font-weight: 600;
  font-size: 1.25rem;
}
  /* feature images */
#featured .feature-1{
  background-image: url(img/feature-1.jpg);
}
#featured .feature-2{
  background-image: url(img/feature-2.jpg);
}
#featured .feature-3{
  background-image: url(img/feature-3.jpg);
}
  /* off section */
#off-section{
  background-image: url(img/bg-3.jpg);
  background-position: center;
  background-size: cover;
}
#off-section h1{
  font-size:80px;
  font-family: Times New Roman;
  font-style: italic;
  color: #2a2a2a;
}
#off-section p{
  font-size:30px;
  color: #4a4a4a;
}

#off-section .btn{
  font-size: 14px;
  font-weight: 600;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  background-color: #ff5353;
  border-color: #ff5353;
}
  /* popular */
#popular .popular-pic .color-overlay{
  background-color: rgba(255, 83, 83, 0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
}
#popular .popular-pic:hover .color-overlay{
  opacity: 1;
}
#popular .popular-pic .icons{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
#popular .popular-1{
  background-image: url(img/popular-1.jpg);
}
#popular .popular-2{
  background-image: url(img/popular-2.jpg);
}
#popular .popular-3{
  background-image: url(img/popular-3.jpg);
}
#popular .popular-4{
  background-image: url(img/popular-4.jpg);
}
#popular .popular-5{
  background-image: url(img/popular-5.jpg);
}
#popular .popular-6{
  background-image: url(img/popular-6.jpg);
}
#popular .popular-7{
  background-image: url(img/popular-3.jpg);
}
#popular .popular-8{
  background-image: url(img/popular-4.jpg);
}
#popular .popular-pic .icons a:first-child i{
  background-color: #fff;
  color: #666;
  transform: translateX(-20px);
  margin-right: 5px;
}
#popular .popular-pic .icons a:last-child i{
  background-color: #ff5353;
  color: #fff;
  transform: translateX(20px);
  margin-left: 5px;
}
  /* carousel part */
#popular .owl-carousel .owl-dots .owl-dot{
  height: 13px;
  width: 13px;
  background: #c6b5a1;
  border-radius: 50%;
  margin-left: 10px;
  outline: none;
}
#popular .owl-carousel .owl-dots .owl-dot:first-child{
  margin-left:0;
}
#popular .owl-carousel .owl-dots .owl-dot.active{
  background: #ff5353;
}
#popular .owl-carousel .owl-dots{
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: 20px;
}
  /* consumer part */
#consumer-help h5{
  font-size:18px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}
#consumer-help p{
  font-size:14px;
  color: #888;
  margin-bottom: 0;
}
#consumer-help .card:hover {
  box-shadow: 0px 3px 15px #888,0px 3px 15px #888;
  transform: scale(1.1);
}
  /* trnding images */
#trending .trending-1{
  background-image: url(img/trending-1.jpg);
}
#trending .trending-2{
  background-image: url(img/trending-2.jpg);
}
#trending .trending-3{
  background-image: url(img/trending-3.jpg);
}
#trending .trending-4{
  background-image: url(img/trending-4.jpg);
}
#trending .trending-5{
  background-image: url(img/trending-5.jpg);
}
#trending .trending-6{
  background-image: url(img/trending-6.jpg);
}
#trending .trending-7{
  background-image: url(img/trending-7.jpg);
}
#trending .trending-8{
  background-image: url(img/trending-8.jpg);
}
  /* journal */
#journal p {
  font-size: 14px;
  color: #888;
  display: inline-block;
}
#journal img{
  width: 100%;
  height: 250px;
}
#journal span {
  height: 10px;
  width: 18px;
  background: #ff5353;
  display: inline-block;
  border-radius: 4px;
  margin-right: 7px;
}
#journal h4 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
#journal i {
  font-size: 13px;
  color: #888;
  margin-right: 4px;
}
  /* follow */
#follow .follow-pic{
  position: relative;
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 100%;
}
#follow .follow-pic .color-overlay{
  background-color: rgba(255, 83, 83, 0.8);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s;
}
#follow .follow-pic:hover .color-overlay{
  opacity: 1;
}
#follow .follow-pic .color-overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 45px;
  color: #fff;
}
#follow .follow-1{
  background-image: url(img/follow-1.jpg);
}
#follow .follow-2{
  background-image: url(img/follow-3.jpg);
}
#follow .follow-3{
  background-image: url(img/follow-1.jpg);
}
#follow .follow-4{
  background-image: url(img/follow-3.jpg);
}
/*******footer section*******/
footer h4 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}
footer p a,
footer p a:hover{
  font-size: 16px;
  margin: 7px 0;
  color: #888;
}
footer .mobile p {
  display: inline-block;
}
footer .mobile i {
  font-size: 25px;
}
footer {
  background: #f6f0ea;
}
footer .mobile .btn{
  border-radius: 5px;
}
footer .mobile .first-child i{
  color: #ff5353;
}
footer .mobile .first-child{
  background-color: #fff;
}
footer .mobile .first-child h6{
  color: #000;
}
footer .mobile .btn h6{
  font-weight: 600;
  text-transform: uppercase;
}
footer .mobile .last-child{
  background-color: #ff5353;
  color: #fff;
}
footer .mobile .last-child p{
  color: #fff;
}
footer .follow i:hover {
  color: #fff;
  background: #ff5353;
}
footer .follow i{
  font-size: 20px;
  color: #000;
  background: #fff;
  padding: 13px;
}
/*****responsive section start here******/
@media (max-width:767px){
  header .navbar .nav-item .nav-link{
    margin-left: 0px;
  }
  header .icons{
    display: none!important;
  }
}
@media (max-width:575px){
  #featured .feature-pic,
  #popular .popular-pic,
  #trending .trending-pic{
    height: 240px;
  }
  #consumer-help .card:hover {
    box-shadow: 0px 3px 15px #888,0px 3px 15px #888;
    transform: scale(1);
  }
  #follow .follow-pic{
    height: 250px;
  }
}
  /* responsive between 768px to 991px & under 450px*/
@media (max-width:991px) and (min-width:768px) , (max-width:450px){
  #featured .feature-pic .icons i,
  #trending .trending-pic .icons i{
    font-size: 13px;
    padding: 14px;
  }
  #trending .col-6{
    padding-left: 5px;
    padding-right: 5px;
  }
  #featured .feature-pic .icons a:nth-child(1) i,
  #trending .trending-pic .icons a:nth-child(1) i{
    transform: translateX(-10px);
  }
  #featured .feature-pic .icons a:nth-child(2) i,
  #trending .trending-pic .icons a:nth-child(2) i{
    margin-left: 0;
    margin-right: 0;
    transform: translateY(-10px);
  }
  #featured .feature-pic .icons a:nth-child(3) i,
  #trending .trending-pic .icons a:nth-child(3) i{
    transform: translateX(10px);
  }
}
